node_modules
package-lock.json
.DS_Store
.vs
/build
/dist
/lib

# ============ deps/curl ============
/deps/curl/builds
/deps/curl/winbuild/CURL_OBJS.inc
/deps/curl/winbuild/LIBCURL_OBJS.inc
/deps/curl/winbuild/vc140.idb
/deps/curl/**/.deps
/deps/curl/**/.libs
/deps/curl/**/*.o
/deps/curl/**/*.lo
/deps/curl/**/Makefile
/deps/curl/src/curl
/deps/curl/**/.dirstamp
/deps/curl/config.log
/deps/curl/config.status
/deps/curl/curl-config
/deps/curl/libcurl.pc
/deps/curl/libtool
/deps/curl/lib/curl_config.h
/deps/curl/lib/libcurl.vers
/deps/curl/lib/stamp-h1
/deps/curl/tests/configurehelp.pm
/deps/curl/lib/libcurl.la

# ============ deps/zlib ============
/deps/zlib/*.obj
/deps/zlib/*.pdb
/deps/zlib/*.exe
/deps/zlib/*.dll
/deps/zlib/*.lib
/deps/zlib/*.exp
/deps/zlib/zlib1.res
/deps/zlib/contrib/vstudio/**/x86

/test*
